header {
    widows: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    float: right;
   left: 36%;
    right: 0;
}
body {
    margin= 0;
    background-image: url("../img/bk2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}